# Python Basics

In [3]:
print("hello world")

hello world

# Day 2
Variables and Operators

In [5]:
a = 10

In [6]:
print(a)

10

In [7]:
print("a")

a

In [8]:
student123 = 20

In [9]:
print(student123)

20

In [10]:
# Python variables are case sensitive a, A are different.

# Many values to multiple variables

In [11]:
x, y, z = "a" "b" "c"
print(x , y ,z)

a b c

In [12]:
#Possible to give same values to different variables
x, y, z = "a" "a" "a"
print(x , y ,z)

a a a

# Python output Variable

In [13]:
x = "Python"
y = "is"
z = "amazing"

print(x , y ,z)

print()

print("x")
print("y")
print("z")

Python is amazing

x
y
z

# Data Types

In [15]:
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [16]:
y = 10.5
print(y)

print(type(y))

10.5
<class 'float'>

In [21]:
z = 2+5j

print(z)

print(type(z))

(2+5j)
<class 'complex'>

In [23]:
a = "This is Python Class"

print(a)

print(type(a))

This is Python Class
<class 'str'>

# Lists

In [25]:
#We can give multiple values to a variable using lists
#Always uses quare brackets []

b = [1,2,3,4,5,6,7,8,9,10]

print(b)

print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

# Tuples

In [26]:
#Tuples always uses round brackets

c = (1,2,3,4,5,6,7,8,9,10)

print(c)

print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [27]:
# To know how many variales we have created we can use the %whos command 

%whos

Variable     Type       Data/Info
---------------------------------
a            str        This is Python Class
b            list       n=10
c            tuple      n=10
student123   int        20
x            int        10
y            float      10.5
z            complex    (2+5j)

# Operators

In [28]:
a = 5
b = 6

print(a + b)

11

In [29]:
a = 5
b = 2.5

print(a + b)

7.5

In [30]:
a = 2 +5j

b = 5

print(a + b)

(7+5j)

In [32]:
a = "hello"

b = "students"

print(a + " " + b)

hello students

In [33]:
# We can use + operator for strings. It will concanate the string
# We cannot use the - operator for string

In [34]:
a = 5
b = 2.5

print(a - b)

2.5

In [35]:
a = 5
b = 2.5

print(a * b)

12.5

In [36]:
a = 20

b = 10

print(a/b)

2.0

In [37]:
#Modulus operator will return the remainder

In [38]:
a = 18
b = 5

print(a%b)

3

In [39]:
a = 15
b = 5

print(a%b)

0

# Exponent

In [41]:
a = 4125678

print(a**22)  #will return the exponent of a to 22

34745394200745606905665555285219580758194607762091719005431893979236245390535477916604522372090242628042633862247999472289264870618412450561654784


# Logical Operators

In [42]:
a = True

b = True

print(a or b)

True

In [43]:
a = True

b = False

print(a and b)

False

In [44]:
# not operator

a = True

b = True

print(not a)

False

In [45]:
a = False

b = True

print(not a)

True